* {
    box-sizing: border-box
}
body {
    background-color: #eee;
}
#container {
    background-color: #ddd;
    width: 70%;
    margin: auto;
}

#container h1 {
    padding-top: 20px;
    text-align: center;
    color: forestgreen;
    font-weight: bold;
    font-size: 2em;
}
#calculator {
    padding: 20px 100px;
}
#calculator div {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: forestgreen;
    background-color: #eee;
    width: 80%;
}
#calculator div span {
    color: blueviolet;
    font-size: 1.5em;
}
#methods {
    font-weight: bold;
    color: forestgreen;
    font-size: 1em;
    text-align: center;
    padding: 5px;
}
#calculator input {
    font-weight: bold;
    color: forestgreen;
    font-size: 1em;
    padding: 5px;
}
#btn {
    font-weight: bold;
    color: forestgreen;
    font-size: 1em;
    padding: 5px;
}